
* {
    box-sizing: border-box;
}

body {
    /* padding-top: 70px; */
    position: relative;
}

section {
    padding: 8rem 0;
}

.myName{
    margin-left: 15px;
}

.pic img{
    float: left;
    width: 200px;
    height: 210px;
    padding-right: 20px;
    padding-bottom: 1px;
}

.about p {
    font-size: 20px;
    line-height: 150%;
}

.container {
    margin-top: 20px;
}

button .btn-position {
    text-align: center;
}

.statement {
    background-image: url("../images/bg1.jpg");
}

#projects {
    background-color: rgb(8, 4, 58);
}

.icon-img {
    height: 200px;
    width: 200px
}

/* resume */

.container-resume {
    max-width: 960px;
    margin: auto;
}

embed {
    width: 800px;
    height: 1100px;
}